.snakemake
logs/
reads/
sra/
atlas/
ref/
checks/
virsorter2/
fasterq.tmp*/
err/
out/
databases/
fasterq.tmp*/
sourmash/fastgather/
sourmash/gather_out/
sourmash/MAG_taxonomy/
sourmash/*.csv
README.md
votu_smash/
bowtie2/check/
bowtie2/filter_bam/
bowtie2/mapping/
bowtie2/*.bt2
bowtie2/*.csv
card/information_sequences
card/nucl
card/ontology
card/protein
card/test_MAGs
card/*.txt
card/MAG*
card/concat*
AMRfinder/AMRFINDER_result/
AMRfinder/prot_files/
card/virs/ 