.snakemake
logs/
reads/
sra/
atlas/
ref/
checks/
virsorter2/
fasterq.tmp*/
err/
out/
databases/
fasterq.tmp*/
sourmash/fastgather/
sourmash/gather_out/
sourmash/*.csv
README.md
sourmash_old/
votu_smash/
bowtie2/check/
bowtie2/filter_bam/
bowtie2/mapping/
bowtie2/*.bt2
bowtie2/*.csv
